In [3]:
py_list = ['python','java','C++','hadoop']
for i in py_list:
    print(i)

python
java
C++
hadoop

In [10]:
for i in range(65,91):
    print(chr(i),end = " ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [13]:
for i in range(97,123):
    print(chr(i),end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [16]:
py_list = ['python','java','C++','hadoop']
for i in py_list:
    if len(i)>4:
        print(i)

python
hadoop

In [17]:
a = ['sanket@gmail.com','mayur@yahoo.com','shital@gmail.com','rohit@gmail.com']
for i in a:
    if i.endswith('gmail.com'):
        print(i)

sanket@gmail.com
shital@gmail.com
rohit@gmail.com

In [19]:
even = []
odd = []
for i in range(0,101):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
    
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [21]:
p = ['a','b','c','c','c','c','d','d','d']
d = {}
for i in p:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
    
print(d)

{'a': 1, 'b': 1, 'c': 4, 'd': 3}

In [25]:
i = 1
while i<=10:
    print(i,end = " ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
flag = True
while flag:
    a = int(input("enter the number : "))
    b = int(input("enter the number : "))
    c = a+b
    print(f"addition of {a} and {b} is {c}")
    choice = input("enter the choice :")
    if choice == "y":
        flag == True
    else:
        flag == False

enter the number : 100
enter the number : 200
addition of 100 and 200 is 300
enter the choice :n

In [31]:
p = '6786786789679679679679'
li = []
while p:
    li.append(p[:2])
    p = p[2:]
print(li)

['67', '86', '78', '67', '89', '67', '96', '79', '67', '96', '79']

In [30]:
p = ['python','hadoop','java',454,'djnago']
for i in p:
    if type(i)== str:
        print(i)
    else:
        break

python
hadoop
java

In [29]:
a = 10
b = 10
c = a+b
print(c)

20

In [32]:
p = ['python','hadoop','java',454,'djnago']
for i in p:
    if type(i)== str:
        print(i)
    else:
        continue

python
hadoop
java
djnago

In [39]:
a = ['sanket@gmail.com','mayur@yahoo.com','shital@gmail.com','rohit@gmail.com']
for i in a:
    if i.endswith("@gmail.com"):
        print(f" email processing {i}")
    else:
        print("invalid email")
        continue

 email processing sanket@gmail.com
invalid email
 email processing shital@gmail.com
 email processing rohit@gmail.com

In [45]:
def name():
    print("Hello World")

In [46]:
name()

Hello World

In [50]:
def nav(a):
    print(a +   "more")

In [53]:
mult(10,10)

100

In [66]:
def str_len(s):
    cal_len = len(s)
    return cal_len

In [67]:
a = str_len('sanket')
if a>5:
    print("String is bigger")
else:
    print("String is Shorter")

String is bigger

In [58]:
def add(a,b):
    c = a+b
    print(c)

In [68]:
def greet(a):
    if a == "sanket":
        return "welcome"
    else:
        return "goodbye"

In [72]:
a = greet('sanket')
a

'welcome'

In [73]:
b = greet('preet')
b

'goodbye'

In [74]:
a = 10,20,30,40,50
print(a)

(10, 20, 30, 40, 50)

In [77]:
def add(x,y):
    z = x+y
    return x,y,z

In [81]:
a,b,c=add(11,22)

22

In [82]:
a

11

In [83]:
b

22

In [84]:
c

33

In [85]:
def strconcate(str1,str2):
    con = str1 + str2
    return con

In [87]:
r = strconcate("sanket","more")

In [88]:
r

'sanketmore'

In [96]:
def emp_dtl(name,id,city,sal):
    print("name :",name)
    print("id :" ,id)
    print("city :" ,city)
    print("sal :" ,sal)

In [97]:
emp_dtl("sanket",23,"satara",190000)

name : sanket
id : 23
city : satara
sal : 190000

In [100]:
def empd(name,age,sal,adhar = "No"):
    print("name: ", name)
    print("age:", age)
    print("salary: ", sal)
    print("adhar: ", adhar)

In [101]:
empd("sanket",24,190000)

name:  sanket
age: 24
salary:  190000
adhar:  No

In [102]:
def add(x = 0,y = 0,z = 0):
    print(x+y+z)

In [103]:
add(20)

20

In [104]:
add(10,35)

45

In [105]:
add(55,45,66)

166

In [106]:
def dtl(*a):
    print(a)

In [107]:
dtl("sanket",24,"satara",190000)

('sanket', 24, 'satara', 190000)

In [111]:
def addd(*a):
    t = 0
    for i in a:
        t = t+i
        print("Addition is",t)

In [112]:
addd(243234,23543,5546,547,567)

Addition is 243234
Addition is 266777
Addition is 272323
Addition is 272870
Addition is 273437

In [113]:
def map(name,age,*a):
    print(name)
    print(age)
    print(a)

In [114]:
map("sanket",24,"satara",198000)

sanket
24
('satara', 198000)

In [115]:
def mp(name,age,sal,city):
    print("name:", name)
    print("age:", age)
    print("sal:", sal)
    print("city:", city)

In [116]:
mp(age = 24,name = "sanket",city  = "satara" , sal = 198000)

#keyword arguments

name: sanket
age: 24
sal: 198000
city: satara

In [117]:
def miss(**a):
    print(a)

In [118]:
miss(name = "sanket",age =24 , city = "satara" , salary = 198000)

{'name': 'sanket', 'age': 24, 'city': 'satara', 'salary': 198000}

In [1]:
def sanket(**a):
    print(a)

In [2]:
sanket(name = 'sanket' , age = 24, salary = 198000, city = 'satara')

{'name': 'sanket', 'age': 24, 'salary': 198000, 'city': 'satara'}

In [3]:
def sam(z):
    for i in z:
        print(z)

In [5]:
p = ['python','hadoop','java',454,'djnago']
sam(p)

['python', 'hadoop', 'java', 454, 'djnago']
['python', 'hadoop', 'java', 454, 'djnago']
['python', 'hadoop', 'java', 454, 'djnago']
['python', 'hadoop', 'java', 454, 'djnago']
['python', 'hadoop', 'java', 454, 'djnago']

In [6]:
a = lambda a,b : a if a>b else b
print(a(10,5))

10

In [7]:
b = lambda a,b : a*b
print(b(10,10))

100

In [9]:
c = lambda a,b,c : a+b+c
print(c(10,20,30))

60

In [10]:
def mult(a):
    return lambda b : a*b

In [12]:
a = mult(10)
print (a(20))

200